.ChatBox {
  margin: auto;
  padding-top: 15px;
}
@media screen and (min-width: 800px) {
  .ChatBox {
    width: 65%;
    padding-top: 20px;
  }
}
.InputForm {
  padding-top: 10px;
}
.Input {
  width: 100%;
}
